<%- include('../partials/header') %>

<div id="product-detail-container" class="product-detail-page">
  <div class="spinner"></div>
</div>

<script src="/js/product-detail.js"></script>

<%- include('../partials/footer') %>
